html,body,#root,.ant-layout {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'iconfont';
  src: url('./assets/iconfont/iconfont.eot');
  src: url('./assets/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./assets/iconfont/iconfont.woff2') format('woff2'),
  url('./assets/iconfont/iconfont.woff') format('woff'),
  url('./assets/iconfont/iconfont.ttf') format('truetype'),
  url('./assets/iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

.myfooter {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: -50px;
  background: #333;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}
